*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(71, 91, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.slide{
    width: 550px;
    height: 500px;
    border: solid 1px wheat;
    border: solid ;
    background-image: url(/imagens/borboleta);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.slide img {
    width: 550px;
    height: 500px;
}

.slide__items{
    width: 100%;
    height: 100px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    perspective: 1000px;
   
}

.slide__items__mudar{
    width: 20px;
    height: 20px;
    border: solid 1px;
    border-radius: 100%;

}

.slide__items__mudar:hover{
    background-color: aqua;
}