<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lampada.css">
    <script src="/js/lampada.js" defer></script>
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/views/index.html">tela inicial</a>
        <a href="/views/lampada.html">lampada</a>
        <a href="/views/skills.html">Qualidades</a>
        <a href="/views/slide.html">mude em um click</a>
    </nav>

    <div class="lampada" class="apagada"></div>

    <div class="base">
        <div class="base__y"></div>
        <div class="base__x">
            <input onclick="acesa()" type="button" value="on">
            <input onclick="apagada()" type="button" value="off">
        </div>
    </div>
    
</body>
</html>