<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/skills.css">
    <script src="/js/skills.js" defer></script>
    <title>Document</title>
</head>

<body>
    
    <nav>
        <a href="/views/index.html">tela inicial</a>
        <a href="/views/lampada.html">lampada</a>
        <a href="/views/skills.html">Qualidades</a>
        <a href="/views/slide.html">mude em um click</a>
    </nav>
      

    <main class="container">
        
        <div class="container__filho__0">
            <h1> Comunicação</h1>
            <div class="skills__0">
                <p>Comunicação: A comunicação eficaz envolve transmitir mensagens de forma clara, direta e sem
                    ambiguidades. Isso inclui a habilidade de escutar ativamente, demonstrando atenção e compreensão das
                    necessidades do interlocutor. Ser empático permite entender diferentes perspectivas e adaptar o
                    estilo de comunicação para cada situação. Além disso, a assertividade é crucial para expressar
                    ideias e opiniões de maneira confiante e respeitosa, sem agressividade ou passividade.</p>

            </div>
        </div>
        <div class="container__filho__1">
            <h1>Abertura para Feedback</h1>
            <div class="skills__1">
                <p>Ser aberto ao feedback significa estar disposto a receber críticas construtivas sem defensividade,
                    usando-as como oportunidades para melhoria. Autocrítica e adaptabilidade ajudam a implementar
                    mudanças e evoluir pessoal e profissionalmente. Mostrar gratidão pelo feedback recebido é importante
                    para construir boas relações, enquanto oferecer feedback de forma clara e respeitosa ajuda no
                    desenvolvimento dos outros e fortalece a colaboração.</p>
            </div>
        </div>
        <div class="container__filho__2">
            <h1>Gerenciamento de Tempo</h1>
            <div class="skills__2">
                <p>O gerenciamento de tempo eficiente se baseia em saber priorizar tarefas importantes, organizando-as
                    de forma lógica para cumprir prazos. Planejamento é essencial para definir metas realistas e manter
                    um cronograma claro. Saber delegar tarefas quando necessário ajuda a otimizar o tempo, enquanto
                    manter o foco e evitar distrações aumenta a produtividade. Assim, é possível equilibrar múltiplas
                    responsabilidades de forma eficiente.</p>
            </div>
        </div>
    </main>
</body>

</html>