<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/skills.css">
    <script src="/js/skills.js" defer></script>
    <title>Document</title>
</head>

<body>
    <main class="container">
        <div class="container__filho__0">
            <h1>skills__0</h1>
            <div class="skills__0">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
            </div>
        </div>
        <div class="container__filho__1">
            <h1>skills__1</h1>
            <div class="skills__1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
            </div>
        </div>
        <div class="container__filho__2">
            <h1>skills__2</h1>
            <div class="skills__2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod neque iste exercitationem
                    quam officia fuga repellendus temporibus omnis. Tempora quasi tempore sapiente voluptatum doloribus
                    vel quas ipsam quia consequuntur.</p>
            </div>
        </div>
    </main>
</body>

</html>